<footer class="footer">
        <nav class="nav">
                <ul class="nav__list">
                        <li class="nav__list-li"><a class="nav__anchor" href="https://www.create-store.com/es/"
                                        title="Link1" target="_blank" rel="noopener noreferrer">Link1</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor"
                                        href="https://www.create-store.com/es/content/1629-magazine-index" title="Link2"
                                        target="_blank" rel="noopener noreferrer">Link2</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor" href="https://www.create-store.com/blog/es/"
                                        title="Link3" target="_blank" rel="noopener noreferrer">Link3</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor"
                                        href="https://www.create-store.com/es/contactenos" title="Link4" target="_blank"
                                        rel="noopener noreferrer">Link4</a>
                        </li>
                </ul>
        </nav>
        <nav class="navSocial">
                <ul class="navSocial__list">
                        <li class="navSocial__list-li"><a class="navSocial__anchor"
                                        href="https://www.facebook.com/createspainfacebook" title="FB" target="_blank"
                                        rel="noopener noreferrer">Fb</a>
                        </li>
                        <li class="navSocial__list-li"><a class="navSocial__anchor"
                                        href="https://www.facebook.com/createspainfacebook" title="TW" target="_blank"
                                        rel="noopener noreferrer">Tw</a>
                        </li>
                        <li class="navSocial__list-li"><a class="navSocial__anchor"
                                        href="https://www.facebook.com/createspainfacebook" title="G+" target="_blank"
                                        rel="noopener noreferrer">G+</a>
                        </li>
                </ul>
        </nav>
</footer>