<header class="header">
        <div class="header__headboard">
                <a href="https://github.com/Lrpoblet/CREATE-LayoutDeEjemplo" target="_blank"
                        rel="noopener noreferrer"><img class="header__headboard-img" src="../images/logo.png" alt="Logo"
                                title="Logo"></a>
                <h1 class="header__headboard-title">LayoutDeEjemplo</h1>
        </div>
        <nav class="nav">
                <ul class="nav__list">
                        <li class="nav__list-li"><a class="nav__anchor" href="https://www.create-store.com/es/"
                                        title="Link1" target="_blank" rel="noopener noreferrer">Link1</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor"
                                        href="https://www.create-store.com/es/content/1629-magazine-index" title="Link2"
                                        target="_blank" rel="noopener noreferrer">Link2</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor" href="https://www.create-store.com/blog/es/"
                                        title="Link3" target="_blank" rel="noopener noreferrer">Link3</a>
                        </li>
                        <li class="nav__list-li"><a class="nav__anchor"
                                        href="https://www.create-store.com/es/contactenos" title="Link4" target="_blank"
                                        rel="noopener noreferrer">Link4</a>
                        </li>
                </ul>
        </nav>
</header>