<header class="header">
    <div class="header__headboard">
        <img class="header__headboard__img" src="../images/logo.png" alt="Logo" title="Logo">
        <h1 class="header__headboard__title">LayoutDeEjemplo</h1>
    </div>
    <nav class="header__nav">
        <ul>
            <li><a href="" target="_blank" rel="noopener noreferrer">Link1</a></li>
            <li><a href="" target="_blank" rel="noopener noreferrer">Link2</a></li>
            <li><a href="" target="_blank" rel="noopener noreferrer">Link3</a></li>
            <li><a href="" target="_blank" rel="noopener noreferrer">Link4</a></li>
        </ul>
    </nav>
</header>