<main class="main">
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima
                veritatis
                assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste
                perspiciatis
                voluptate maxime fuga.
            </p>
        </article>
    </section>
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima
                veritatis assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste
                perspiciatis voluptate maxime fuga.</blockquote>
        </article>
    </section>
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem temporibus minima veritatis
                assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
                voluptate maxime fuga.</p>
        </article>
    </section>
</main>