<main class="main">
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <p class="main__article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem
                temporibus minima
                veritatis
                assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste
                perspiciatis
                voluptate maxime fuga.
            </p>
        </article>
    </section>
    <hr class="bar">
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <div class="main__article-quote">
                <blockquote class="main__article-text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                    alias, rem temporibus minima
                    veritatis assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste
                    perspiciatis voluptate maxime fuga.</blockquote>
            </div>
        </article>
    </section>
    <hr class="bar">
    <section>
        <article>
            <h2 class="main__article-title">Lorem ipsum dolor sit amet</h2>
            <p class="main__article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque alias, rem
                temporibus minima veritatis
                assumenda eaque, ipsum aliquid tempora impedit nam labore laudantium, delectus. Quae iste perspiciatis
                voluptate maxime fuga.</p>
        </article>
    </section>
</main>