@media all and (min-width: 768px) and (max-width: 1023px) {
  .aside {
    background-color: $aside-green;
    height: 30vh;
    @include center;
    justify-content: space-around;

    &__box {
      width: 35%;
      height: 20vh;
      background-color: $color-bg;
      margin: 10px;
    }
  }
}

@media all and (min-width: 1024px) {
  .aside {
    background-color: $aside-green;
    width: 25%;
    padding: 20px;

    &__box {
      width: 100%;
      height: 20vh;
      background-color: $color-bg;
      margin-bottom: 10px;
    }
  }
}
