.footer {
  background-color: $color-bg;
  height: 15vh;
  flex-direction: column;
  @include center;

  .nav {
    background-color: $nav-color;
    width: 80%;

    &__list {
      display: flex;

      &-li {
        @include li;

        &:hover {
          background-color: $light-red;
        }
      }
    }

    &__anchor {
      @include anchor;
    }
  }

  .navSocial {
    background-color: $social-nav-color;
    width: 30%;

    &__list {
      @include center;

      &-li {
        width: 100%;
        @include center;
        transition: all 0.5s ease-in;

        &:hover {
          background-color: rgba(179, 105, 52, 0.973);
        }
      }
    }

    &__anchor {
      @include anchor;
      text-transform: uppercase;
    }
  }
}

@media all and (min-width: 600px) {
  .footer {
    flex-direction: row;
    padding: 15px 70px;
    justify-content: space-between;

    .nav {
      width: fit-content;

      &__list-li {
        width: fit-content;
      }
    }

    .navSocial {
      width: fit-content;
    }

    &__list-li {
      width: fit-content;
    }
  }
}

@media all and (min-width: 1024px) {
  .footer {
    height: 10vh;
  }
}
