.header {
  background-color: $color-bg;
  height: 15vh;
  position: sticky;
  top: 0;

  &__headboard {
    @include center;
    height: 15vh;
    padding: 12px 0 40px;

    &-img {
      height: 35px;
    }

    &-title {
      font-family: $font-title;
      font-size: 23px;
      padding-left: 10px;
    }
  }

  .nav {
    background-color: $nav-color;
    position: absolute;
    bottom: 0;

    &__list {
      display: flex;

      &-li {
        @include li;

        &:hover {
          background-color: $light-red;
        }
      }
    }

    &__anchor {
      @include anchor;
    }
  }
}

@media all and (min-width: 1024px) {
  .header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;

    &__headboard {
      padding: 0;
    }
    .nav {
      width: 50%;
      position: relative;

      &__anchor {
        padding: 10px;
      }
    }
  }
}
