.header {
  background-color: $color-bg;
  height: 15vh;
  position: sticky;
  top: 0;

  &__headboard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 13px;

    &-img {
      height: 35px;
    }

    &-title {
      font-family: $font-title;
      font-size: 23px;
      padding-left: 10px;
    }
  }

  .nav {
    background-color: $nav-color;
    position: absolute;
    bottom: 0;

    &__list {
      display: flex;

      &-li {
        width: 25vw;
        display: flex;
        justify-content: center;
        transition: all 1s ease-in;

        &:hover {
          background-color: $light-red;
        }
      }
    }

    &__anchor {
      color: $white;
      padding: 14px;
      font-size: 13px;
    }
  }
}

@media all and (min-width: 1024px) {
  .header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;

    .nav {
      width: 50vw;
      position: relative;

      &__anchor {
        padding: 10px;
      }
    }
  }
}
