.main {
  background-color: $white;
  height: 70vh;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__article-title {
    font: 18px $font-title;
    padding: 10px 0;
  }

  &__article-text,
  &__article-quote {
    margin-bottom: 10px;
  }

  &__article-div {
    @include center;
  }

  &__article-quote {
    padding-left: 20px;
    border-left: solid 4px lightgray;
    font-size: 15px;
    width: 87%;
    display: inline-flex;
  }

  .bar {
    border-bottom: solid black 1px;
  }
}

@media all and (min-width: 1024px) {
  .main {
    justify-content: start;
    width: 75%;
    height: 80vh;

    &__article-quote {
      width: 95%;
    }
  }
}
