@mixin anchor {
  color: $white;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

@mixin li {
  width: 25vw;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in;
}
